{:deps {bidi/bidi {:mvn/version "2.1.6"}
        tick/tick {:mvn/version "0.5.0"}}
 :aliases {:clj {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}

                              ;; HTTP
                              ring/ring {:mvn/version "1.9.6"}

                              ;; HTML
                              hiccup/hiccup {:mvn/version "1.0.5"}

                              ;; System
                              integrant/integrant {:mvn/version "0.8.0"}
                              integrant/repl      {:mvn/version "0.3.2"}

                              ;; Configuration
                              aero/aero {:mvn/version "1.1.6"}

                              ;; PostgreSQL
                              com.github.seancorfield/next.jdbc {:mvn/version "1.3.847"}
                              org.postgresql/postgresql         {:mvn/version "42.5.3"}
                              io.github.HealthSamurai/dsql      {:git/sha "eb68b090c2f2e5a2abca4afb58af722abe2ab34c"}
                              dev.weavejester/ragtime           {:mvn/version "0.9.3"}

                              ;; Fake data generation
                              faker/faker {:mvn/version "0.2.2"}}
                 :extra-paths ["src/clj" "resources"]}
           :cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.21.0"}

                               ;; re-frame & reagent
                               re-frame/re-frame     {:mvn/version "1.3.0"}
                               day8.re-frame/http-fx {:mvn/version "0.2.4"}
                               reagent/reagent       {:mvn/version "1.2.0"}

                               ;; HTML pushState helpers
                               kibu/pushy {:mvn/version "0.3.8"}}
                  :extra-paths ["src/cljs" "src/cljc"]}
           :dev {:extra-deps {ring/ring-mock {:mvn/version "0.4.0"}}
                 :extra-paths ["dev" "test/clj" "test/cljc"]}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.77.1236"}
                               ring/ring-mock {:mvn/version "0.4.0"}}
                  :extra-paths ["test/clj" "test/cljc"]
                  :main-opts ["-m" "kaocha.runner"]}}}
