{:jdbc/connection {:dbtype "postgres"
                   :dbname #profile {:development "registratura"
                                     :test "registratura_test"
                                     :default #env DB_NAME}}
 :http/handler {:db-conn #ig/ref :jdbc/connection
                :server-opts {:port #long #or [#env HTTP_PORT
                                               8888]
                              :join? false}}}
