{:jdbc/connection {:dbtype "postgres"
                   :host #or [#env DB_HOST
                              "localhost"]
                   :dbname #or [#env DB_NAME
                                #profile {:development "registratura"
                                          :test "registratura_test"}]
                   :user #or [#env DB_USER
                              #env USER]
                   :password #env DB_PASSWORD}
 :http/handler {:db-conn #ig/ref :jdbc/connection
                :server-opts {:port #long #or [#env HTTP_PORT
                                               8888]
                              :join? false}}}
